@use "scheme";
@use "lib";
@use "font";

label.icon {
    @include font.icon;
}

.screen-corner {
    @include lib.rounded(15);

    background-color: scheme.$base;
}

.notification {
    .inner {
        @include font.main;

        color: scheme.$text;
        padding: lib.s(10) lib.s(12);

        @include lib.spacing($vertical: true);
    }

    .header,
    .content {
        padding: 0 lib.s(5);
    }

    .header {
        @include font.mono;
        @include lib.spacing(8);
    }

    .content {
        @include lib.spacing(10);
    }

    .app-icon {
        font-size: lib.s(18);
    }

    .image {
        @include lib.rounded(10);

        background-size: cover;
        background-position: center;
        margin-top: lib.s(3);
        min-width: lib.s(64);
        min-height: lib.s(64);

        &.small {
            min-width: lib.s(48);
            min-height: lib.s(48);
        }
    }

    .summary {
        @include font.title;

        font-size: lib.s(16);
    }

    .body {
        font-size: lib.s(14);
        color: scheme.$subtext0;
    }
}
