@use "scheme";
@use "lib";
@use "font";

.launcher-wrapper {
    @include lib.ease-in-out;

    &.visible {
        @include lib.overshot;
    }
}

.launcher {
    @include lib.rounded(10);
    @include lib.border(scheme.$overlay0, 0.2);
    @include lib.shadow;
    @include lib.element-decel;
    @include font.main;

    background-color: scheme.$mantle;
    color: scheme.$text;
    padding: lib.s(10) lib.s(14);

    .search-bar {
        margin-bottom: lib.s(5);
        font-size: lib.s(16);

        @include lib.spacing;

        .icon {
            font-size: lib.s(18);
        }

        .placeholder {
            color: scheme.$subtext0;
        }
    }

    .result {
        @include lib.element-decel;

        padding: lib.s(5) lib.s(10);

        &:hover,
        &:focus {
            background-color: scheme.$surface0;
        }

        &:active {
            background-color: scheme.$surface1;
        }
    }

    .pinned-app {
        @include lib.rounded(5);

        font-size: lib.s(64);
    }

    .results {
        .icon {
            font-size: lib.s(32);
        }

        .empty {
            color: scheme.$subtext0;

            @include lib.spacing;
        }

        .result {
            @include lib.rounded(10);

            font-size: lib.s(18);

            & > * {
                @include lib.spacing(8);
            }

            .has-sublabel {
                font-size: lib.s(16);

                .sublabel {
                    color: scheme.$subtext0;
                    font-size: lib.s(14);
                }
            }
        }
    }

    &.apps label.icon {
        color: scheme.$sapphire;
    }

    &.files label.icon {
        color: scheme.$peach;
    }

    &.math label.icon {
        color: scheme.$green;
    }
}
