@use "scheme";
@use "lib";
@use "font";

@mixin launcher($mode, $colour) {
    &.#{$mode} {
        label.icon {
            color: $colour;
        }

        .separator {
            background-color: $colour;
            margin: lib.s(5) 0;
        }
    }
}

.launcher {
    @include lib.rounded(10);
    @include lib.shadow;
    @include lib.element-decel;
    @include font.main;

    background-color: scheme.$mantle;
    color: scheme.$text;
    padding: lib.s(10) lib.s(14);

    @include launcher(apps, scheme.$sapphire);
    @include launcher(files, scheme.$peach);
    @include launcher(math, scheme.$green);
    @include launcher(windows, scheme.$teal);

    .search-bar {
        margin-bottom: lib.s(5);
        font-size: lib.s(16);

        @include lib.spacing;

        .icon {
            font-size: lib.s(18);
        }

        .placeholder {
            color: scheme.$subtext0;
        }
    }

    .result {
        @include lib.element-decel;

        padding: lib.s(5) lib.s(10);

        &:hover,
        &:focus {
            background-color: scheme.$surface0;
        }

        &:active {
            background-color: scheme.$surface1;
        }
    }

    .pinned-app {
        @include lib.rounded(5);

        font-size: lib.s(64);
    }

    .results {
        .icon {
            font-size: lib.s(32);
        }

        .empty {
            color: scheme.$subtext0;
            font-size: lib.s(18);
            padding: lib.s(10) 0;

            @include lib.spacing;

            .icon {
                color: scheme.$subtext0;
            }
        }

        .result {
            @include lib.rounded(10);

            font-size: lib.s(18);

            & > * {
                @include lib.spacing(8);
            }

            .has-sublabel {
                font-size: lib.s(16);

                .sublabel {
                    color: scheme.$subtext0;
                    font-size: lib.s(14);
                }
            }
        }
    }
}
