@use "sass:color";
@use "scheme";
@use "lib";
@use "font";

@mixin popup($colour) {
    .separator {
        background-color: $colour;
    }

    .image {
        @include lib.border($colour, 0.05);
    }
}

.notifpopups {
    min-width: lib.s(425);
    padding-left: lib.s(10); // So notifications can overshoot for init animation
    padding-right: lib.s(5);
    padding-top: lib.s(5);

    .notification {
        .wrapper {
            padding: lib.s(5); // For shadow
        }

        .inner {
            @include lib.rounded(10);
            @include lib.shadow;

            background-color: scheme.$base;

            &.low {
                @include popup(scheme.$overlay0);
            }

            &.normal {
                @include popup(scheme.$primary);
            }

            &.critical {
                @include lib.border(scheme.$error, 0.5);
                @include popup(scheme.$error);

                @if not scheme.$borders {
                    background-color: color.mix(scheme.$base, scheme.$error, 95%);
                }
            }
        }
    }
}
