@use "sass:color";
@use "scheme";
@use "lib";
@use "font";

@mixin popup($colour) {
    @include lib.border($colour, 0.5);

    border-right: none;

    .separator {
        background-color: $colour;
    }

    .image {
        @include lib.border($colour, 0.05);
    }
}

.notifpopups {
    min-width: lib.s(425);
    padding-left: lib.s(10); // So notifications can overshoot for init animation

    // For shadow
    & > :last-child .wrapper {
        padding-bottom: lib.s(15);
    }

    .notification {
        .wrapper {
            padding-top: lib.s(10);
            padding-left: lib.s(15); // For shadow
        }

        .inner {
            @include lib.rounded(8, $tr: 0, $br: 0);
            @include lib.shadow;
            @include popup(scheme.$lavender);

            &.low {
                @include popup(scheme.$overlay0);
            }

            &.critical {
                @include popup(scheme.$red);
            }
        }
    }
}
