@use "scheme";
@use "lib";
@use "font";

.brightness,
.volume {
    @include lib.rounded(8);
    @include font.icon;

    background-color: scheme.$mantle;
    font-size: lib.s(28);
    padding: lib.s(3);

    .inner {
        @include lib.rounded(8);
        @include lib.fluent-decel(1000ms);

        min-width: lib.s(300);
        min-height: lib.s(32);
        background-color: scheme.$teal;
        color: scheme.$mantle;
    }
}

.brightness {
    font-size: lib.s(26);
}
