@use "sass:color";
@use "scheme";
@use "lib";
@use "font";

.session {
    background-color: #0000009e;

    .inner {
        @include lib.rounded(8);
        @include lib.border(scheme.$overlay0, 0.1);
        @include lib.shadow;
        @include font.mono;

        background-color: scheme.$mantle;
        color: scheme.$text;
        padding: lib.s(18) lib.s(20);

        @include lib.spacing(10, true);

        & > * {
            @include lib.spacing(20);
        }

        .item {
            font-size: lib.s(14);

            @include lib.spacing($vertical: true);

            button {
                @include lib.rounded(100);
                @include lib.element-decel(300ms);

                background-color: scheme.$base;
                min-width: lib.s(100);
                min-height: lib.s(100);
                font-size: lib.s(32);

                &:hover,
                &:focus {
                    background-color: color.mix(scheme.$flamingo, scheme.$base, 70%);
                    color: scheme.$base;
                }

                &:active {
                    background-color: color.mix(scheme.$flamingo, scheme.$base, 50%);
                }
            }

            .label {
                font-weight: 500;
            }
        }
    }
}
