use flake

shopt -s globstar
watch_file assets/cpp/**/*.cpp
watch_file assets/cpp/**/*.hpp
watch_file plugin/**/*.cpp
watch_file plugin/**/*.hpp

cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug -DDISTRIBUTOR=direnv
cmake --build build
export CAELESTIA_LIB_DIR="$PWD/build/lib";
export QML2_IMPORT_PATH="$PWD/build/qml";
