@use "sass:color";
@use "scss/scheme";

// Common widgets
@use "scss/widgets";

// Modules
@use "scss/bar";
@use "scss/notifpopups";
@use "scss/launcher";
@use "scss/osds";
@use "scss/popdowns";
@use "scss/session";

* {
    all: unset; // Remove GTK theme styles
    caret-color: scheme.$rosewater;

    selection {
        background-color: color.change(scheme.$overlay2, $alpha: 0.3);
    }
}
