@use "sass:color";
@use "scss/scheme";

// Common styles
@use "scss/widgets";
@use "scss/common";

// Modules
@use "scss/bar";
@use "scss/notifpopups";
@use "scss/launcher";
@use "scss/osds";
@use "scss/session";
@use "scss/sidebar";
@use "scss/navbar";
@use "scss/mediadisplay";

* {
    all: unset; // Remove GTK theme styles
    caret-color: scheme.$rosewater;

    selection {
        background-color: color.change(scheme.$overlay2, $alpha: 0.3);
    }
}
