@use "sass:color";
@use "../scheme";
@use "../lib";
@use "../font";

@mixin popup($accent) {
    .separator {
        background-color: $accent;
    }

    .image {
        @include lib.border($accent, 0.05);
    }
}

.notifications {
    @include lib.popdown-window(scheme.$mauve);

    min-width: lib.s(400);
    min-height: lib.s(600);

    .notification {
        .wrapper {
            padding-bottom: lib.s(10);
        }

        .inner {
            background-color: color.mix(scheme.$surface0, scheme.$base, 70%);

            &.low {
                @include popup(scheme.$overlay0);
            }

            &.normal {
                @include lib.border(scheme.$lavender, 0.3);
                @include popup(scheme.$lavender);
            }

            &.critical {
                @include lib.border(scheme.$red, 0.5);
                @include popup(scheme.$red);
            }
        }

        .actions > * {
            background-color: scheme.$surface1;

            &:hover,
            &:focus {
                background-color: scheme.$surface2;
            }

            &:active {
                background-color: scheme.$overlay0;
            }
        }
    }
}
