@use "sass:color";
@use "../scheme";
@use "../lib";
@use "../font";

$-accent: scheme.$blue;

.updates {
    @include lib.popdown-window($-accent);

    min-width: lib.s(550);
    min-height: lib.s(800);

    .wrapper {
        @include lib.element-decel;

        &:hover,
        &:focus {
            color: color.mix($-accent, scheme.$base, 80%);
        }

        &:active {
            color: color.mix($-accent, scheme.$base, 60%);
        }
    }

    .repos {
        @include lib.spacing($vertical: true);

        .repo {
            .header {
                font-size: lib.s(16);
            }

            .list,
            .news {
                color: scheme.$text;
                margin-left: lib.s(12);
            }

            .news {
                margin-bottom: lib.s(5);
            }
        }
    }
}
