$rosewater: #edcbc5;
$flamingo: #d3a4a4;
$pink: #d792c6;
$mauve: #c678dd;
$red: #be5046;
$maroon: #e06c75;
$peach: #d19a66;
$yellow: #e5c07b;
$green: #98c379;
$teal: #56b6c2;
$sky: #90ccd7;
$sapphire: #389dcc;
$blue: #61afef;
$lavender: #8e98d9;
$text: #abb2bf;
$subtext1: #95a0b5;
$subtext0: #838b9c;
$overlay2: #767f8f;
$overlay1: #666e7c;
$overlay0: #5c6370;
$surface2: #4b5263;
$surface1: #3c414f;
$surface0: #30343e;
$base: #282c34;
$mantle: #21242b;
$crust: #1e2126;
